// app global css in SCSS form
body {
  color: $text-color;

  ul {
    margin: 0;
    list-style-type: '/';
    padding-left: 20px;
  }

  .n-page {
    width: 80%;
    margin: auto;
    background-color: $background;
  }

  .n-card {
    // color: white;
    background-color: $dark;
    border: 3px solid $dark;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      border: 3px solid $accent;
    }
  }

  .n-btn {
    background-color: $primary;
  }

  .q-card__section--vert {
    padding: 8px;
  }

  // .q-field__control {
  //   height: auto;
  // }

  // .n-input {
  //   color: $secondary;
  // }

  a {
    color: $secondary;
  }

  a:visited {
    color: $accent;
  }

  .text-dark {
    color: $dark;
  }

  .text-h2 {
    color: $secondary;
    text-align: center;
    margin: 16px 0px 32px 0px;
  }

  .text-h3 {
    color: $accent;
    text-align: center;
    margin: 16px 0px 32px 0px;
  }
}
