@font-face {
  font-family: nova-font;
  src: url('src/assets/Potra.ttf');
}
@font-face {
  font-family: nova-normal-font;
  src: url('src/assets/space-mono.regular.ttf');
}

// app global css in SCSS form
body {
  font-family: nova-normal-font;
  color: $text-color;

  ul {
    margin: 0;
    list-style-type: '/';
    padding-left: 20px;
  }

  .n-page {
    width: 80%;
    margin: auto;
    background-color: $background;
    border-left: 3px solid $accent;
    border-right: 3px solid $accent;
  }

  .n-card {
    background-color: $dark;
    border: 4px outset $red;
    box-shadow: none;
  }

  .n-card--important {
    border: 10px groove $red;
  }

  .n-btn {
    background-color: $primary;
  }

  .tab {
    color: $secondary !important;
    .q-icon {
      padding: 8px 8px 8px 0px;
    }
  }

  .q-card__section--vert {
    padding: 8px;
  }

  // .q-field__control {
  //   height: auto;
  // }

  // .n-input {
  //   color: $secondary;
  // }

  a {
    color: $secondary;
  }

  a:visited {
    color: $accent;
  }

  .text-dark {
    color: $dark;
  }

  .text-h1 {
    font-family: nova-font;
    padding: 16px 0 32px 0;
    border-bottom: 8px groove $accent;
    color: $secondary;
    background-color: $primary;
  }

  .text-h2 {
    font-family: nova-font;
    color: $secondary;
    background: $primary;
    text-align: center;
    margin: 0px 0px 32px 0px;
    padding: 8px 0 8px 0;
    border-bottom: 8px groove $accent;
    border-top: 8px ridge $accent;
  }

  .text-h3 {
    font-family: nova-font;
    color: $primary-light;
    text-align: center;
    margin: 16px 0px 32px 0px;
    text-decoration: underline;
  }

  .text-h4 {
    font-family: nova-font;
    color: $primary-light;
    text-align: center;
    padding: 4px 0 4px 0;
    margin: 0;
  }

  .q-skeleton {
    background-color: $accent;
  }
}

@import 'display.scss';
@import 'markdown.scss';
@import 'breakpoints.scss';
