// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

/// quasar vars ///
$primary: #22405a;
.color-primary {
  color: $primary !important;
}
.bg-color-primary {
  background-color: $primary !important;
}

$secondary: #fa752f;
.color-secondary {
  color: $secondary !important;
}
.bg-color-secondary {
  background-color: $secondary !important;
}

$accent: #bc7de0;
.color-accent {
  color: $accent !important;
}
.bg-color-accent {
  background-color: $accent !important;
}

$dark: #2e2139;
.color-dark {
  color: $dark !important;
}
.bg-color-dark {
  background-color: $dark !important;
}
$dark-page: #180a24; // #1f191e;
.color-dark-page {
  color: $dark !important;
}

$positive: #2dc25e;
$negative: #c25858;
$info: #32a7ba;
$warning: #f5cc5c;
/// quasar vars ///

/// custom vars ///
// $text-color: white;
$text-color: #e6ddbe;
.color-text {
  color: $text-color !important;
}
.bg-color-text {
  background-color: $text-color !important;
}
$background: #e6ddbe;
